<form class="form-fetch" action="{{ path_for('fetch') }}" method="post">
    <div class="input-group" style="position: relative">
        <input id="join-input" type="text"
               class="form-control btn-group" autocomplete="off"
               name="nickname" title="your nickname">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary">Fetch</button>
        </div>
    </div>
</form>
