<form class="form-join" action="{{ path }}" method="post">
    <div class="input-group" style="position: relative">
        <input id="join-input" type="text"
               class="form-control btn-group" autocomplete="off"
               name="nickname" title="your nickname" placeholder="nickname">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary">join</button>
        </div>
    </div>
</form>
