{% extends 'base.twig' %}
{% block content %}
    <div>
        <a target="_blank"
           href="https://anidb.net/perl-bin/animedb.pl?adb.search={{ anime.getName() }}&show=search&do.search=search">{{ anime.getName() }}</a>
        <p>Users: {{ anime.getUsers() | join(', ') }}</p>
    </div>
{% endblock %}
